aiohttp==3.9.5
aiosignal==1.3.1
annotated-types==0.6.0
anyio==4.3.0
arabic-reshaper==3.0.0
asgiref==3.8.1
asn1crypto==1.5.1
attrs==23.2.0
beautifulsoup4==4.15.0
blis==0.7.11
Brotli==1.1.0
catalogue==2.0.10
certifi==2023.11.17
cffi==1.16.0
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.7
cloudinary==1.44.0
cloudpathlib==0.18.1
confection==0.1.5
cryptography==42.0.7
cssselect2==0.7.0
cymem==2.0.8
distlib==0.3.7
distro==1.9.0
Django==5.1.4
django-auto-logout==0.5.1
django-cloudinary-storage==0.3.0
django-cors-headers==4.3.0
django-environ==0.11.2
django-mfa==3.2
djangorestframework==3.14.0
docx2txt==0.8
filelock==3.12.4
fonttools==4.51.0
frozenlist==1.4.1
graphviz==0.20.3
h11==0.14.0
html5lib==1.1
httpcore==1.0.5
httpx==0.27.0
idna==3.6
Jinja2==3.1.4
joblib==1.3.2
jsonschema==4.22.0
jsonschema-specifications==2023.12.1
langcodes==3.4.0
language_data==1.2.0
lxml==5.2.2
marisa-trie==1.2.0
markdown-it-py==3.0.0
MarkupSafe==2.1.5
mdurl==0.1.2
multidict==6.0.5
murmurhash==1.0.10
nltk==3.8.1
numpy==1.26.3
openai==0.28.0
oscrypto==1.3.0
packaging==24.1
pandas==2.2.2
pdfkit==1.0.0
pdfminer.six==20231228
pillow==10.3.0
platformdirs==3.11.0
postmarker==1.0
preshed==3.0.9
psycopg2-binary==2.9.10
pycparser==2.22
pycryptodome==3.20.0
pydantic==2.7.1
pydantic_core==2.18.2
pydyf==0.10.0
Pygments==2.18.0
pyHanko==0.25.0
pyhanko-certvalidator==0.26.3
pypdf==4.2.0
PyPDF2==3.0.1
pyphen==0.15.0
pypng==0.20220715.0
pyresparser==1.0.6
pyrsistent==0.20.0
python-bidi==0.4.2
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.1
PyYAML==6.0.1
qrcode==7.4.2
referencing==0.35.1
regex==2024.5.15
reportlab==4.0.9
requests==2.31.0
rich==13.7.1
rpds-py==0.18.1
scikit-learn==1.5.0
scipy==1.14.0
shellingham==1.5.4
six==1.16.0
smart-open==7.0.4
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.8.4
spacy==3.7.5
spacy-legacy==3.0.12
spacy-loggers==1.0.5
sqlparse==0.5.3
srsly==2.4.8
svglib==1.5.1
thinc==8.2.5
threadpoolctl==3.5.0
tinycss2==1.3.0
tqdm==4.66.4
typer==0.12.3
typing_extensions==4.11.0
tzdata==2024.1
tzlocal==5.2
uritools==4.0.2
urllib3==2.1.0
virtualenv==20.24.6
wasabi==1.1.3
weasel==0.4.1
weasyprint==62.1
webencodings==0.5.1
whitenoise==6.10.0
wrapt==1.16.0
xhtml2pdf==0.2.15
yarl==1.9.4
zenrows==1.3.2
zopfli==0.2.3
